@import '../../../assets/colors.scss';

.users-wrapper {
    background-color: $bgPage;

    .usersHeader {
        padding: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    i {
        cursor: pointer;
        transition: transform .2s;
        &:hover {
            transform: rotate(360deg);
        }
    }
}