<app-modals [currentModal]='currentModal' (refresh)='getAllUsers()'></app-modals>

<div class="container-fluid px-0 users-wrapper">
    <header class="usersHeader row d-flex justify-content-between mx-0">
        <h2 class="mb-0 h2">Users</h2>
        <app-search-bar search (onSearch)="onSearch($event)"></app-search-bar>
        <button class="btn btn-outline-primary float-right" (click)="currentModal = {type: 'add'}" data-toggle="modal"
                data-target='#usersModal'>Add User
        </button>
    </header>
    <main class="container-fluid">

            <table *ngIf='currentUsers' class="table table-responsive-sm"
                   sortable-table (sorted)="onSorted($event)"
                   paginationable-list (pageChanged)="onPageChange($event)"
            >
                <tr>
                    <th sortable-column="id">Id</th>
                    <th sortable-column="firstName">First Name</th>
                    <th sortable-column="lastName">Last Name</th>
                    <th sortable-column="createdAt">Created</th>
                    <th sortable-column="updatedAt">Updated</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let user of currentUsers">
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{user.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td class="button" (click)="currentModal = {type: 'edit', user: user}" data-toggle="modal" data-target='#usersModal'>
                        <i class="fa fa-pencil-square-o text-primary"></i>
                    </td>
                    <td class="button" (click)="currentModal = {type: 'delete', user: user}" data-toggle="modal" data-target='#usersModal'>
                        <i class="fa fa-trash text-danger"></i>
                    </td>
                </tr>
            </table>

        
        <app-pagination [activePage]="tableParams.page"
                        [totalPages]="totalPages"
        ></app-pagination>
    </main>
</div>