<h2> Users !</h2>
<div class="alert alert-info" *ngIf="message">{{message}}</div>
<table *ngIf='currentUsers' class="table table-striped">
    <tr>
        <th>Id</th>
        <th>firstName</th>
        <th>lastName</th>
        <th>edit</th>
        <th>delete</th>
    </tr>
    <tr *ngFor='let user of currentUsers'>
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td class="button" (click)="editUser()">edit</td>
        <td class="button" (click)="deleteUser()">delete</td>
    </tr>
</table>
<button class="btn btn-primary mb-3" (click)="addUser()">Add</button>

