<nav class="nav flex-column" id="sidebar">
    <div class="user">
        <img src="../../../assets/user.png" class="rounded-circle">
        <p><b>Your Name</b></p>
    </div>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user fa-1x"> </i> User Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-home fa-1x"> </i> Data Source Management</a>
        </li>
        <li class="nav-item">
            <a data-toggle="collapse" aria-expanded="false" class="nav-link">
                    <span class="menu-collapsed"><i class="fa fa-bar-chart fa-1x"> </i> Chart
                    Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#submenu" data-toggle="collapse" aria-expanded="false" class="nav-link">
                    <span class="menu-collapsed"><i class="fa fa-group fa-1x"> </i> Group
                    Management</span>
            </a>
            <div id='submenu' class="collapse sidebar-submenu">
                <div class="text-center">
                    <button class="btn btn-outline-secondary" id="create-group" data-toggle="modal" data-target="#createGroup"><i
                        class="fa fa-plus fa-1x"> </i> Create new group
                    </button>
                </div>
                <div>
                    <a *ngFor="let group of groups"><i [class]="group.materialIcon"></i> {{group.name}}
                        <button class="btn btn-link btn-sm float-right" (click)="deleteGroup(group.id)"><i
                            class="fa fa-trash fa-1x"> </i></button>
                        <button [class.selected]="group === selectedGroup" class="btn btn-link btn-sm float-right" data-toggle="modal"
                                data-target="#editGroup"
                                (click)="openEditModal(group)"><i
                            class="fa fa-edit fa-1x"> </i>
                        </button>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<app-create-group></app-create-group>
<app-edit-group *ngIf="editModalClicked" [editedGroup]="selectedGroup"></app-edit-group>
