<div class="modal fade" role="dialog" tabindex="-1" id="deleteGroup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Delete Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete group? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteGroup()">Delete</button>
                <button #closeBtn type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav id="sidebar" [ngClass]="sidebarIsCollapsed ? 'active' : ''">
    <div class="sidebar-header">
        <img src="../../../assets/img/user.png" class="rounded-circle">
        <p>User Name</p>
    </div>
    <ul class="components">
        <li>
            <a [routerLink]="['/users']">
                <i class="fa fa-user"></i>
                User Management
            </a>
        </li>
        <li>
            <a [routerLink]="['/data-sources']">
                <i class="fa fa-file"></i>
                Data Source Management
            </a>
        </li>
        <li [routerLink]="['/chart-management']">
            <a>
                <i class="fa fa-list-ul"></i>
                Chart Management
            </a>
        </li>
        <li [routerLink]="['/charts']">
            <a>
                <i class="fa fa-bar-chart"></i>
                Charts
            </a>
        </li>
        <li id="sidebar-submenu">
            <a href="#group-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fa fa-group"></i>
                Group Management
            </a>
            <ul class="collapse list-unstyled" id="group-submenu">
                <div class="text-center group-item">
                    <button class="btn btn-outline-secondary" id="create-group" data-toggle="modal" data-target="#createGroup"><i
                        class="fa fa-plus"></i><span>Create new group</span>
                    </button>
                </div>
                <li>
                    <a class="group-item groups" *ngFor="let group of groups" [routerLink]="['/group', group.id, 'charts']"
                       (click)="showCharts(group.id)"><i [class]="group.materialIcon"></i>{{group.name}}
                        <div class="group-btn pull-right">
                            <button class="btn btn-link btn-sm" data-toggle="modal" data-target='#deleteGroup'
                                    (click)="openDeleteModal(group.id)"><i
                                class="fa fa-trash"> </i></button>
                            <button [class.selected]="group === selectedGroup" class="btn btn-link btn-sm" data-toggle="modal"
                                    data-target="#editGroup"
                                    (click)="openEditModal(group)"><i
                                class="fa fa-edit"> </i>
                            </button>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<div class="overlay"></div>
<app-create-group (needUpdateGroups)="getGroups()"></app-create-group>
<app-edit-group *ngIf="editModalClicked" [editedGroup]="selectedGroup"></app-edit-group>

