@import '../../../assets/colors.scss';

img {
    width: 90px;
    padding: 20px;
    vertical-align: middle;
    display: inline-block;
}

p {
    font-size: 20px;
    vertical-align: middle;
    display: inline-block;
}

.navbar-nav {
    li a {
        font-size: 15px;
        text-decoration: none;
        display: block;
        padding: 12px 20px;
        cursor: pointer;
        color: $sidebarItem;
        -webkit-transition: background-color 200ms, color 200ms;
        transition: background-color 200ms, color 200ms;
        &:active, &:hover, &:focus {
            color: $bgPage;
            background-color: $sidebarActive;
            border-left: 5px solid $sidebarLeft;
            padding-left: 15px;
        }
        i {
            margin-right: 10px;
        }
        button {
            float: right;
            color: $sidebarItem;
            vertical-align: middle;
            &:active, &:hover {
                color: $bgPage;
            }
        }

    }
    .sidebar-submenu {
        background-color: $sidebarDropdown;
    }
    #create-group {
        margin: 10px;
    }

}

#sidebar {
    /* for the animation */
    transition: margin 0.3s ease;
}

.collapsed {
    /* hide it for small displays*/
    display: none;
}

@media (min-width: 992px) {
    .collapsed {
        display: block;
        /* same width as sidebar */
        margin-left: -25%;
    }
}