<div class="modal fade" role="dialog" tabindex="-1" id="deleteGroup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> Delete Group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to delete group? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="deleteGroup()">Delete</button>
                <button #closeBtn type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<nav id="sidebar" [ngClass]="sidebarIsCollapsed ? 'active' : ''">
    <div class="sidebar-header">
        <img src="../../../assets/img/user.png" class="rounded-circle">
        <p>User Name</p>
    </div>
    <ul class="components">
        <li [routerLink]="['/users']" (click)="removeActiveClass()">
            <a>
                <i class="fa fa-user"></i>
                <span class="menu-item">User Management</span>
            </a>
        </li>
        <li [routerLink]="['/data-sources']" (click)="removeActiveClass()">
            <a>
                <i class="fa fa-file"></i>
                <span class="menu-item">Data Source Management</span>
            </a>
        </li>
        <li [routerLink]="['/chart-management']" (click)="removeActiveClass()">
            <a>
                <i class="fa fa-list-ul"></i>
                <span class="menu-item">Chart Management</span>
            </a>
        </li>
        <li [routerLink]="['/charts']" (click)="removeActiveClass()">
            <a>
                <i class="fa fa-bar-chart"></i>
                <span class="menu-item">Charts</span>
            </a>
        </li>
        <li id="sidebar-submenu" #groupManagement>
            <a href="#group-submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="addActiveClass()">
                <i class="fa fa-group"></i>
                <span class="menu-item">Group Management</span>
            </a>
            <ul class="collapse list-unstyled" id="group-submenu" #groupSubmenu>
                <div class="text-center group-item">
                    <button class="btn btn-outline-secondary" id="create-group" data-toggle="modal" data-target="#createGroup"
                            (click)="openGroupModal()"><i
                        class="fa fa-plus"></i><span>Create new group</span>
                    </button>
                </div>
                <li class="group-list">
                    <a class="group-item groups" *ngFor="let group of groups" [routerLink]="['/group', group.id, 'charts']">
                        <div (click)="showCharts(group.id)"><i [class]="group.materialIcon"></i>{{group.name}}</div>
                        <div class="group-btn">
                            <button class="btn btn-link btn-sm" data-toggle="modal" data-target='#deleteGroup'
                                    (click)="openDeleteModal(group.id)"><i
                                class="fa fa-trash"> </i></button>
                            <button [class.selected]="group.id === currentGroupId" class="btn btn-link btn-sm" data-toggle="modal"
                                    data-target="#createGroup"
                                    (click)="openGroupModal(group.id)"><i
                                class="fa fa-edit"> </i>
                            </button>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<app-groups (needUpdateGroups)="getGroups()" [groupData]="selectedGroupId"></app-groups>

