@import '../../../assets/colors.scss';

.btn-primary {
    background-color: $dashboard;
    border: $dashboard;
    &:hover {
        background-color: $btnActive;
    }
}

.text {
    color: $dashboard;
}