@import '../../../assets/colors.scss';

.btn-primary {
    background-color: $dashboard;
    border: $dashboard;
    &:hover {
        background-color: $btnActive;
    }
}

.left-block {
    background-color: $dashboard;
}

.login-page{
    background-color: $bgDefault;
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: url('../../../assets/img/bg.jpg');
        filter: blur(10px);
        position: absolute;
        top: 0;
        right: 0;
    }
}


.login{
    background-color: $bgDefault;
    z-index: 10;
    position: relative;
    border-radius: 5px;
}
label{
    color: $text;
}