//@import url("../../../assets/colors.scss");

.btn-primary {
    //background-color: $purpleColor;
    background-color: #796AEE;
    border: #796AEE;
}

.left-block {
    background-color: rgba(121, 106, 238, 0.9);
}