<div class="modal fade" role="dialog" tabindex="-1" id="logout">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Are you sure you want to logout? </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="logout(event)">Yes</button>
                <button #closeBtn type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<header class="d-flex justify-content-between header" #header>
    <nav class="navbar w-100">
        <div class="container-fluid">
            <div class="navbar-holder d-flex align-items-center justify-content-between w-100">
                <!-- Navbar Header-->
                <div class="navbar-header">
                    <div id="company-logo" class="d-none d-sm-inline-block">
                        <img [src]="imageUrl">
                    </div>
                    <!-- Navbar Brand -->
                    <a href="#" class="navbar-brand d-none d-sm-inline-block text-white">
                        <div class="brand-text d-none d-lg-inline-block"><span>Bootstrap</span><strong>Dashboard</strong></div>
                        <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong>BD</strong></div>
                    </a>
                    <div id="toggle-btn" class="menu-btn active arrow-box"
                         (click)="collapseSidebar(this.isArrowRotate = !this.isArrowRotate)">
                        <span #line1></span><span class="second-arrow" #arrow></span><span #line2></span>
                    </div>
                </div>
                <!-- Navbar Menu -->
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center list-menu">
                    <!--Color Select-->
                    <li class="color-box mr-3">
                        <label for="colors" class="mb-0"><i class="fa fa-paint-brush text-white"></i></label>
                        <input [(ngModel)]='colorValue' type="color" id="colors">
                    </li>
                    <li class="color-box mr-3">
                        <label for="image" class="mb-0" data-toggle="tooltip" data-placement="bottom" title="Change company logo"><i
                            class="fa fa-file-image-o text-white"></i></label>
                        <input class="d-none" id="image" type="file" #Image accept="image/*"
                               (change)="handleImgUpload($event.target.files)">
                    </li>
                    <!-- Logout    -->
                    <li class="nav-item logout text-white" data-toggle="modal" data-target='#logout'>
                        <span class="d-none d-sm-inline mr-2">Logout</span>
                        <i class="fa fa-sign-out"></i>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
