@import '../../assets/colors.scss';

.spinner {
    height: 6px;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: $bgPage;
    &:before {
        display: block;
        position: absolute;
        content: "";
        left: -200px;
        width: 200px;
        height: 6px;
        background-color: $spinner;
        animation: loading 2s linear infinite;
    }
}
@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }
    50% {
        width: 30%;
    }
    70% {
        width: 70%;
    }
    80% {
        left: 50%;
    }
    95% {
        left: 120%;
    }
    to {
        left: 100%;
    }
}