@import '../../assets/colors.scss';

.main-content {
    background-color: $bgPage;

    header {
        padding: 20px;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }
    main {
        table {
            th, td {
                vertical-align: middle;
            }
        }
    }
    i {
        cursor: pointer;
        transition: transform .2s;
        &:hover {
            transform: rotate(-360deg);
        }
    }
}