<div class="container-fluid px-0 main-content">
    <header class="flex-sm-row flex-column d-flex justify-content-between align-items-center mx-0">
        <h2 class="mb-sm-0 mb-2 h2">Data Sources</h2>
        <app-search-bar search (onSearch)="onSearch($event)"></app-search-bar>
        <button type="button" class="btn btn-outline-primary float-right mt-sm-0 mt-2" data-toggle="modal" data-target="#dataSourceModal"
                (click)="openDataSourceModal()"
        >Create</button>
    </header>
    <main class="container-fluid pb-3">
        <table class="table table-hover table-responsive"
               sortable-table (sorted)="onSorted($event)"
               paginationable-list (pageChanged)="onPageChange($event)"
        >
            <thead>
            <tr>
                <th sortable-column="id">#</th>
                <th sortable-column="url">URL</th>
                <th sortable-column="dataSourceName">DS Name</th>
                <th sortable-column="driverClassName">Driver</th>
                <th sortable-column="dataSourceType">Source Type</th>
                <th sortable-column="createdAt">Created</th>
                <th sortable-column="updatedAt">Updated</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody *ngIf="dataSources?.length > 0">
            <tr *ngFor="let source of dataSources">
                <td>{{source.id}}</td>
                <td>{{source.url}}</td>
                <td>{{source.dataSourceName}}</td>
                <td>{{source.driverClassName}}</td>
                <td>{{source.dataSourceType}}</td>
                <td>{{source.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{source.updatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="button" data-toggle="modal" data-target="#dataSourceModal"
                    (click)="openDataSourceModal(source.id)">
                    <i class="fa fa-pencil-square-o text-primary"></i>
                </td>
                <td class="button" data-toggle="modal" data-target="#confirmDeleteModal"
                    (click)="openDeleteModal(source.id)">
                    <i class="fa fa-trash text-danger"></i>
                </td>
            </tr>

            </tbody>
        </table>

        <app-pagination [activePage]="tableParams.page"
                        [totalPages]="totalPages"
        ></app-pagination>
    </main>
</div>

<app-data-source-form [parentSubject]="parentSubject" (contentChanged)="buildDataSources($event)"></app-data-source-form>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deleting</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure to delete data source?
            </div>
            <div class="modal-footer">
                <button type="button" #btnCloseConfirmDelete class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteDataSource()">Delete</button>
            </div>
        </div>
    </div>
</div>