@import '../../../assets/colors.scss';

.header {
    width: 100%;
    height: 60px;
    background-color: $header;
}

footer {
    background: $footer;
    padding: 20px 10px;
    color: $bgDefault;
}