<!--<div>
    <button (click)="getGroups()">Get Groups</button>
</div>

<ul>
    <li *ngFor="let group of groups">
        Icon: {{group.name}} Name: {{group.name}}
    </li>
</ul>-->

<div class="container">
    <h1>Add Group</h1>
    <div class="form-group">
        <label for="icon">Icon</label>
        <input type="text" class="form-control" id="icon" required [(ngModel)]="group.materialIcon" name="materialIcon">
    </div>
    <div class="form-group">
        <label for="name">Group Mame</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="group.name" name="name">
    </div>
    <button type="submit" class="btn btn-default" (click)="submit(group)">Create</button>
</div>