<div class="card card-body col-lg-6 col-md-6 col-sm-12 mx-auto mt-5">
    <h3 class="card-title text-center text">Reset your password?</h3>
    <form class="form-validate" [formGroup]="form" (ngSubmit)="resetPass()">
        <div class="form-group">
            <label for="login-password">New Password</label>
            <input id="login-password"
                   type="password"
                   name="loginPassword"
                   required
                   class="form-control"
                   formControlName="password"
                   [ngClass]="{'border border-danger': form.get('password').invalid && form.get('password').touched}"

            >
            <div class="alert alert-info mt-3" *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password')['errors']['required']">Field 'New Password' must be filled in.</span>

                <span
                    *ngIf="form.get('password').hasError('minlength')">
                Password should be at least  {{ form.get('password')['errors']['minlength']['requiredLength'] }} characters long.
                Now {{ form.get('password')['errors']['minlength']['actualLength'] }} characters.
            </span>
            </div>
        </div>
        <div class="form-group">
            <label for="token">Token</label>
            <input id="token"
                   type="text"
                   name="token"
                   required
                   class="form-control"
                   formControlName="token"
                   [ngClass]="{'border border-danger': form.get('token').invalid && form.get('token').touched}"

            >
            <div class="alert alert-info mt-3" *ngIf="form.get('token').invalid && form.get('token').touched">
                <span *ngIf="form.get('token')['errors']['required']">Field 'Token' must be filled in.</span>

                <span
                    *ngIf="form.get('token').hasError('minlength')">
                token should be at least  {{ form.get('token')['errors']['minlength']['requiredLength'] }} characters long.
                Now {{ form.get('token')['errors']['minlength']['actualLength'] }} characters.
            </span>
            </div>
        </div>
            <button type="submit" id="login" class="btn text-white mx-3 btn-primary" [disabled]="form.invalid">Submit</button>
            <button type="submit"  class="btn text-white mx-3 btn-danger" [routerLink]="['/login']">Cancel</button>
    </form>
</div>