<div *ngIf="editedGroup" class="modal fade" role="dialog" tabindex="-1" id="editGroup">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Edit Group</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <label for="edit-icon-{{editedGroup.id}}">Icon</label>
                        <select id="edit-icon-{{editedGroup.id}}" class="form-control" name="materialIcon" [(ngModel)]="editedGroup.materialIcon"
                                required
                                [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }">
                            <option *ngFor="let materialIcon of icons" [value]="materialIcon.class">{{materialIcon.glyph}}
                                <p>{{materialIcon.title}}</p>
                            </option>
                        </select>
                        <div *ngIf="f.submitted && materialIcon.invalid" class="invalid-feedback">
                            <div *ngIf="materialIcon.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="edit-name-{{editedGroup.id}}">Group Name</label>
                        <input type="text" id="edit-name-{{editedGroup.id}}" class="form-control" name="name" [(ngModel)]="editedGroup.name"
                               required
                               [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="name.errors.required">Last Name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>