<div class="card card-body col-lg-6 col-md-6 col-sm-12 mx-auto mt-5">
    <h3 class="card-title text-center text">Add User</h3>
    <form class="form-validate" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="email"
                   placeholder="Email Address"
                   class="form-control"
                   required
                   name="email"
                   formControlName="email"
                   [ngClass]="{'border border-danger': form.get('email').invalid && form.get('email').touched}"
            >
        </div>
        <div class="alert alert-info mt-3" *ngIf="form.get('email').invalid && form.get('email').touched">
            <span *ngIf="form.get('email')['errors']['required']">Field 'User Name' must be filled in.</span>
            <span
                *ngIf="form.get('email').hasError('minlength')">
                                User Name should be at least {{ form.get('email')['errors']['minlength']['requiredLength'] }} characters long.
                                Now {{ form.get('email')['errors']['minlength']['actualLength'] }} characters.
                        </span>
            <span *ngIf="form.get('email')['errors']['pattern']">Required pattern: test@gmail.com</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">First Name</label>
            <input type="text"
                   placeholder="First Name"
                   class="form-control"
                   required
                   name="firstName"
                   formControlName="firstName"
                   [ngClass]="{'border border-danger': form.get('firstName').invalid && form.get('firstName').touched}"
            >
        </div>
        <div class="alert alert-info mt-3" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
            <span *ngIf="form.get('firstName')['errors']['required']">Field 'First Name' must be filled in.</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">Last Name</label>
            <input type="text"
                   placeholder="Last Name"
                   class="form-control"
                   required
                   name="lastName"
                   formControlName="lastName"
                   [ngClass]="{'border border-danger': form.get('lastName').invalid && form.get('lastName').touched}"
            >
        </div>
        <div class="alert alert-info mt-3" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
            <span *ngIf="form.get('lastName')['errors']['required']">Field 'Last Name' must be filled in.</span>
        </div>
        <div class="form-group">
            <label class="form-control-label">Password</label>
            <input type="password"
                   placeholder="Password"
                   class="form-control"
                   required
                   name="password"
                   formControlName="password"
                   [ngClass]="{'border border-danger': form.get('password').invalid && form.get('password').touched}"
            >
        </div>
        <div class="alert alert-info mt-3" *ngIf="form.get('password').invalid && form.get('password').touched">
            <span *ngIf="form.get('password')['errors']['required']">Field 'Password' must be filled in.</span>

            <span
                *ngIf="form.get('password').hasError('minlength')">
                            Password should be at least  {{ form.get('password')['errors']['minlength']['requiredLength'] }} characters long.
                            Now {{ form.get('password')['errors']['minlength']['actualLength'] }} characters.
                        </span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add" class="btn btn-primary" [disabled]="form.invalid">
        </div>
    </form>
</div>






