<div class="card card-body col-lg-6 col-md-6 col-sm-12 mx-auto mt-5">
    <h3 class="card-title text-center text">Forgot your password?</h3>
    <form class="form-validate" [formGroup]="form" (ngSubmit)="forgotPass()">
        <div class="form-group">
            <label for="login-username" class="label-material">Enter your email:</label>
            <input id="login-username"
                   type="email"
                   name="email"
                   required
                   class="form-control"
                   formControlName="email"
                   [ngClass]="{'border border-danger': form.get('email').invalid && form.get('email').touched}"
            >
            <div class="alert alert-info mt-3" *ngIf="form.get('email').invalid && form.get('email').touched">
                <span *ngIf="form.get('email')['errors']['required']">Field 'email' must be filled in.</span>
                <span
                    *ngIf="form.get('email').hasError('minlength')">
                        User Name should be at least {{ form.get('email')['errors']['minlength']['requiredLength'] }} characters long.
                        Now {{ form.get('email')['errors']['minlength']['actualLength'] }} characters.
                </span>
                <span *ngIf="form.get('email')['errors']['pattern']">Required pattern: test@gmail.com</span>
            </div>

        </div>
        <button type="submit" id="login" class="btn text-white mb-3 btn-primary" [disabled]="form.invalid">Submit</button>
    </form>
</div>
