$text: #aaaaaa;
$textTitle: #212529;

$dashboard: #7f6de3;
$dashboardForget: #85bdf5;

$header: #2f333e;
$headerMessenger: #ffc36d;
$headerBell: #ff7676;

$userName: #333333;
$sidebarItem: #686a76;
$sidebarActive: #796AEE;
$sidebarLeft: #3b25e6;

$backgroundPage: #eef5f9;

$homeClients: #796aee;
$homeOrders: #ff7676;
$homeInvoice: #54e69d;
$homeCases: #ffc36d;
$charBarColor: #796aee;

$follow: #54e69d;
$followActive: #85b4f2;
$activeAside: #29a6ba;
$like: #868e96;
$likeActive: #6c757d;

$buttons: #796aee;
$buttonsActive: #5a48ea;

$footer: #2f333e;








