$text-color:#aaaaaa;
$textTitle-color:#212529;


$dashboard-color: #7f6de3;
$dashboardForget-color: #85bdf5;

$header-color: #2f333e;
$headerMessenger-color: #ffc36d;
$headerBell-color: #ff7676;

$userName-color: #333333;
$sidebarItem-color: #686a76;
$sidebarActive-color: #796AEE;
$sidebarLeft-color: #3b25e6;

$backgroundPage-color:#eef5f9;

$homeClients-color: #796aee;
$homeOrders-color: #ff7676;
$homeInvoice-color: #54e69d;
$homeCases-color: #ffc36d;
$charBarColor-color: #796aee;

$follow-color: #54e69d;
$followActive-color: #85b4f2;
$activeAside-color: #29a6ba;
$like-color:#868e96;
$likeActive-color:#6c757d;

$buttons-color:#796aee;
$buttonsActive-color:#5a48ea;


$footer-color: #2f333e;








