$text: #aaa;
$textTitle: #212529;
$dashboard: #7f6de3;
$dashboardForget: #85bdf5;
$header: #2f333e;
$alarm: #ffc36d;
$userName: #333;
$sidebarItem: #686a76;
$sidebarActive: #796AEE;
$sidebarLeft: #3b25e6;
$bgPage: #eef5f9;
$bgDefault: #fff;
$btnEdit: #868e96;
$btnEditActive: #6c757d;
$btnSuccessful: #54e69d;
$btnSuccessfulActive: #4bb575;
$btnDelete: #ff7676;
$btnDeleteActive: #c66363;
$btn: #736BE6;
$btnActive: #5a48ea;
$spinner: #2980b9;
$footer: #2f333e;
$btnDropdown: #999;
